unless _.isEmpty(resume.basics.summary)
  .detail#about
    .icon
      i.fs-lg.icon-board
      span.mobile-title Bio
    .info
      a(href="#about")
        h4.title.text-uppercase Bio

      .card.card-nested
        .content.mop-wrapper(itemprop="description")!= resume.basics.summary
