unless _.isEmpty(resume.basics.summary)
  .detail#about
    .icon
      i.fs-lg.icon-board
      span.mobile-title Bio
    .info
      h4.title.text-uppercase Bio

      .content(itemprop="description")= resume.basics.summary
